<?xml version="1.0" encoding="UTF-8"?>
<!--
  The tests run against a real Craft installation that has this plugin installed.
  CRAFT_BASE_PATH has to point to it, e.g.:
  CRAFT_BASE_PATH=/path/to/craft vendor/bin/phpunit -c /path/to/rawsearch/phpunit.xml.dist
  API tests additionally need RAWSEARCH_TEST_URL (base URL of that installation).
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnSkippedTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
